apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: file-processor

resources:
  - ../../base

patches:
  - path: patches/api-resources.yaml
  - path: patches/worker-image-resources.yaml
  - path: patches/api-replicas.yaml
  - path: patches/worker-image-replicas.yaml

images:
  - name: ghcr.io/abdul-hamid-achik/file.cheap/api
    newTag: latest
  - name: ghcr.io/abdul-hamid-achik/file.cheap/worker-image
    newTag: latest
  - name: ghcr.io/abdul-hamid-achik/file.cheap/worker-video
    newTag: latest

configMapGenerator:
  - name: app-config
    literals:
      - ENVIRONMENT=production
      - LOG_LEVEL=info
      - LOG_FORMAT=json
      - TRACING_ENABLED=false
