apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base/monitoring
  - secrets/grafana-credentials.yaml

labels:
  - pairs:
      environment: production
    includeSelectors: false

patches:
  - target:
      kind: Deployment
      name: prometheus
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "512Mi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "1Gi"
  - target:
      kind: Deployment
      name: loki
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "256Mi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "1Gi"
  - target:
      kind: PersistentVolumeClaim
      name: prometheus-data
    patch: |-
      - op: replace
        path: /spec/resources/requests/storage
        value: "20Gi"
  - target:
      kind: PersistentVolumeClaim
      name: loki-data
    patch: |-
      - op: replace
        path: /spec/resources/requests/storage
        value: "20Gi"
