apiVersion: v1
kind: Service
metadata:
  name: worker-video
  labels:
    app: worker-video
    app.kubernetes.io/name: worker-video
    app.kubernetes.io/component: worker-video
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9090"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: 9090
      targetPort: metrics
      protocol: TCP
  selector:
    app: worker-video
