apiVersion: v1
kind: Service
metadata:
  name: jaeger
  labels:
    app: jaeger
spec:
  type: ClusterIP
  ports:
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
      protocol: TCP
    - name: otlp-http
      port: 4318
      targetPort: 4318
      protocol: TCP
    - name: ui
      port: 16686
      targetPort: 16686
      protocol: TCP
    - name: collector
      port: 14268
      targetPort: 14268
      protocol: TCP
  selector:
    app: jaeger
